name: Deploy Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Pages
        uses: actions/configure-pages@v3
        with:
          enablement: true

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public

      - name: Deploy to Pages
        uses: actions/deploy-pages@v1
